#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid rgb(94, 198, 50); */
    width: 100%;
    height: 80%; 
}
#childOne, #childThree{
display: flex;
flex-direction: column;
justify-content: space-between;
/* border: 1px solid blue; */
height: 100%;
width: 10%;
}
#childTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 75%;
    height: 20%;
}
 
.one, .two, .three{
    width: 8vw;
    height: 8vw;
    background-color: #ffff00;
    margin: 1%;
}