@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Condensed:ital@1&family=Seymour+One&display=swap');body{
    margin: 0;
    padding: 0;
    background-image: url(168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    width: 100%;
    height: 10%;
    background-color: black;
}
#nav{
    padding-left: 50%;
}
li, a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1.2% 0 0 4%;
    font-size: 40px;
    font-family: 'Nanum Gothic', sans-serif;

}
#name{
    width: 60%;
    height: 80px;
    padding:1.5% 0 0 1.5%;
    text-transform: uppercase;
    font-size: 100px;
    font-family: 'Nanum Gothic', sans-serif;
}
#surname{
   padding-left: 15%; 
}
#logo{
    margin-left: 0;
    padding-left: 0;
    width: 10%;
    height: 10%;
    background: url(Symbol_from_Marvel.png) top left no-repeat;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,255, 0.3);
    color: white;
    text-align: center;
  }
  p{
    font-family: 'Roboto Condensed', sans-serif;
  }