body {
    font-size: 18px;
    line-height: 1.5;
    color: #256;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 22px;
}

h1 {
    font-size: 46px;
    margin-bottom: 0;
}

h2 {
    font-size: 40px;
    margin-top: 34px;
    margin-bottom: 0;
}

p {
    margin-top: 5;
}

strong {
    font-weight: bold;
}