.earth{ 
    background-color:aliceblue;
}
.mars{ 
    background-color: blue;
}
.jupiter{ 
    background-color:gold;
}
.saturn{ 
    background-color:green;
}
.uranus{ 
    background-color:darkblue;
}
.neptune{ 
    background-color: teal;
}

