* {
    /* box-sizing: border-box; */
}
body{
    margin: 0;
    padding: 0;
}
#container{
    /* border: 1px solid red; */
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: darkgrey;
    padding: 0.5rem;
}
#container > * {
    /* border: 1px solid red; */
}
#sidebar{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding-inline: .5rem;
    gap: .5rem;
}
#sidebar > *{
    /* border: 1px dashed black; */

}
#sidebar .clear{
    padding: 0.5rem;
    grid-column: 1 / -1;
}
#sidebar .clear button{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}
#sidebar .color{
    background-color: white;
}
#main{
    display: grid;
    /* grid-template-rows: repeat(24, 1fr); */
    grid-template-columns: repeat(60, 1fr);
    background-color: white;
}
#main > *{
    border: 1px dotted lightgrey;
}